body {
  padding: 1em;
}

time {
  display: block;
  color: #888;
  font-size: 0.8em;
}

#footer {
    background-color: #26a69a;
    text-align: center;
}

#footer a {
  color: white;
  font-weight: bold;
}
